* text eol=lf
*.c text eol=lf
*.gitattributes text eol=lf
*.in text eol=lf
*.cfg text eol=lf
*.h text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.prod text eol=lf
*.txt text eol=lf
*.rst text eol=lf
*.md text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.cmd text eol=crlf
*.bat text eol=crlf
